Channel: SIP/gsm7/7+79785597951
MaxRetries: {{ max_retries }}
RetryTime: {{ retry_time }}
WaitTime: 30
Context: {{ sip_context }}
#Extension: 0000
Application: Playback
Data: {{ alert_sound_file }}
Priority: 1
Archive: Yes
